body {
    width: 100%;
    height: 100%;
}

.banner {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    background-color: #000;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("imgs/sourdough-loaves-news-banner.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: 0;
}

.banner-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(255, 179, 148, 0.7), rgba(255, 179, 148, 0));
    z-index: 1;
    pointer-events: none;
}

.titling,
.subtitling {
    filter: none !important;
    z-index: 2;
    margin: 0;
    position: relative;
    Color: rgb(240, 240, 240);
    font-weight: bolder;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.breb-logo {
    width: 100px;
}

/*
Color Scheme:
(240,215,167)
(195,121,96)
(137,78,63)
(238,225,186)

*/